@import "./vars.scss";

.main {

    overflow: hidden;

    &__inner {
        margin-bottom: 130px;
        position: relative;
        column-gap: 30px;


        &__bg {
            position: absolute;
            top: 0;
            left: -46%;


            z-index: -1;

            max-width: 1356.7px;
            height: 1049.34px;
        }

        &__title {
            margin-bottom: 80px;
            padding-top: 100px;
        }

        &__buttons {
            width: 100%;
            max-width: 420px;

            column-gap: 20px;

        }

    }

    &__user {
        column-gap: 20px;

        &__number {
            padding: 10px 30px;

            color: $gray;
        }
    }

    &__about {
        position: relative;
        z-index: 1000;

        background: $white;
        border-top: 2px solid rgba(#000000, .1);
        padding-top: 15px;
    }

}

.button {
    background-color: transparent;
    border: none;

    transition: .2s ease;

    &:hover {
        transform: translateY(-3px);
    }
}

@media(max-width:1200px) {

    .main__inner__title {
        padding-top: 70px;
    }
}